<!-- Card Div Start -->
<div class="col-md-12 card-div">
  <mat-card class="example-card">
    <div>
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('{{city.NationFlag}}'); background-size: cover;"
        ></div>
        <mat-card-title>{{ city.CityName }}</mat-card-title>
        <mat-card-subtitle>{{ city.Nation }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="city.CityImage"
        alt="City Image"
        class="city-image"
      />
      <mat-card-content>
        <p>
          {{ city.Description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <h3>{{city.Population}}</h3>
        <button mat-button [disabled]="isDisabled" (click)="removePopulation(city.CityName)">Nuke</button>
        <button mat-button (click)="growPopulation()">Grow</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<!-- Card Div End -->

